<!DOCTYPE html>
<html>
	<head>
		<title>Spindle</title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script type="text/javascript">
			!window.jQuery && document.write("<script type='text/javascript' src='/javascripts/jquery-2.1.3.min.js'></scr"+"ipt>")
		</script>
	</head>
	<body>
		<div style="position:fixed;width:100%;height:5px;background:#159"></div>
		<div id="head" style="position:fixed;top:5px;width:100%;height:100px">
			<a href="http://www.clinicalgenome.org/" target="_blank">
				<img src="/images/ClinGenLogo-rainbow.png" style="padding:10px 0 0 30px;width:100px;opacity:1" />
			</a>
		<!--
			<a id="spindleLogo" href="/">
				<div class="floatleft" style="padding-left:10px"><img src="/images/spindle-logo-9.png" style="height:80px;margin:3px 0 0 10px;opacity:1" /></div>
				<div class="floatleft" style="vertical-align:middle;line-height:45px;padding-left:10px">SPINDLE</div>
			</a>
			-->
		</div>

		<br />
		<div style="padding:100px 0 0 100px">
			<!--<div><img src="/images/ClinGenLogo.png" style="background-repeat:no-repeat;opacity:0.1" /></div>-->
			<!--
				<p style="font-size:150%">Please make sure your browser accepts cookies.</p>
				<p>Google Chrome is recommanded.&nbsp;
					<a href="https://support.google.com/chrome/answer/95346?hl=en" target="_blank" style="text-decoration:none">Download</a>
					<span>&nbsp;|&nbsp;</span>
					<a herf="https://support.google.com/chrome/answer/95647?hl=en" target="_blank" style="text-decoration:none">Cookie Setup</a>
					<span>.</span>
					<span style="width:100px">&nbsp;</span>
					<a id="statiscic_link" style="cursor:pointer">Click</a>
				</p>
				<br />
				<p>Enter your login name and password</p>
				-->
				<form action="/login" method="post" id="loginform" name="loginform">
				<table>
					<tr>
						<td colspan=2 style="font-size:30px;text-align:center">
							ClinGen Gene Curation Login
							<br />
							Welcome!
						</td>
					</tr>
					<tr><td colspan=2>&nbsp;</td></tr>
					<tr>
						<td style="text-align:right">User Name:</td>
						<td><input type="text" id="logname" name="logname" style="width:200px;height:20px;font-size:16px;border-radius:8px" /></td>
					</tr>
					<tr>
						<td style="text-align:right">Password:</td>
						<td><input type="password" name="pwd" id="pwd" style="width:200px;height:20px;font-size:16px;border-radius:8px" /></td>
					</tr>
					<tr>
						<td style="text-align:right">
							<input type="submit" value="Submit" id="sendlogin" style="width:70px;height:30px;font-size:18px" /></td>
						<td>
							<input type="reset" value="Reset" style="width:70px;height:30px;font-size:18px" /></td>
					</tr>
					<tr><td colspan=2>&nbsp;</td></tr>
					<tr><td colspan=2 style="font-size:12px">Please make sure your browser accepts cookies.</td></tr>
					<tr><td colspan=2 style="font-size:12px">Google Chrome is recommended.&nbsp;
							<a href="https://support.google.com/chrome/answer/95346?hl=en" target="_blank" style="text-decoration:none">Download</a>
							<span>&nbsp;|&nbsp;</span>
							<a herf="https://support.google.com/chrome/answer/95647?hl=en" target="_blank" style="text-decoration:none">Cookie Setup</a>
							<span>.</span>
					<tr>
						<td colspan=2 style="font-size:12px">
							<br />
							Please contact&nbsp;
							<a href="mailto:tsneddon@stanford.edu" style="text-decoration:none">Tam Sneddon</a>&nbsp;to create an account.</td></tr>
						</td>
					</tr>
				</table>
				</form>
		</div>
		<!--
		<div style="position:fixed;top:55px;right:5px">
			<a href="http://www.clinicalgenome.org/" target="_blank">
				<img src="/images/ClinGenLogo-rainbow.png" style="width:100px;opacity:1" />
			</a>
		</div>
		<div style="position:fixed;top:50px;left:30px"><img src="/images/ClinGenLogo-rainbow.png" style="width:500px;opacity:0.1" /></div>
		<div id="statistic_diagram_box" style="display:none;position:absolute;top:330px;left:50px">
			<div id="diagram_control_box" style="background-color:#fff">
				<select id="filter_selection" style="float:right;font-size:12px">
					<option value="Both">Both</option>
					<option value="Overall">Overall</option>
					<option value="Pathogenic">Pathogenic Only</option>
				</select>
			</div>
			<canvas id="statistic_diagram" width="500" height="500" style="background-color:#fff">Not support canvas</canvas>
		</div>-->
		<div id="foot">
			<table style="width:100%;height:100%;border-collapse:collapse">
				<tr style="height:100%">
					<td style="padding-left:20px;vertical-align:middle;font-size:14px;color:#ddd">
						<a href="http://www.stanford.edu/site/terms.html" target="_blank" style="cursor:pointer;text-decoration:none;color:#ddd">Terms of Use</a>
						<br />
						<span>&copy; Stanford University, Stanford, CA 94305.</span>
					</td>
					<td style="text-align:right;padding-right:20px;vertical-align:middle">
						<table style="height:100%;float:right;border-collapse:collapse">
							<tr>
								<td style="vertical-align:bottom">
									<a href="http://genetics.stanford.edu/" target="_blank">
										<img src="/images/department-logo-white-small.png" alt="ClinGen-Logo" height="30" />
									</a>
								</td>
								<td style="vertical-align:bottom">
									<a href="http://med.stanford.edu//" target="_blank">
										<img src="/images/medicalschool-logo.png" alt="ClinGen-Logo" height="35" />
									</a>
								</td>
								<td style="text-align:center;vertical-align:bottom">
									<a href="http://www.stanford.edu/" target="_blank" style="text-decoration:none;color:#ccb">
										<span style="font-size:14px;vertical-align:bottom">Stanford</span>
										<br />
										<span style="font-size:10px;vertical-align:top">University</span>
									</a>
								</td>
								<!--
								<td style="vertical-align:bottom">
									<a href="http://www.clinicalgenome.org/" target="_blank">
										<img src="/images/ClinGen-Logo-White-Small.png" alt="ClinGen-Logo" height="35" />
									</a>
								</td>
								-->
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#logname").focus()
				$("#loginform").submit(function() {
					if ($.trim($("#logname").val()) == "") {
						alert('Enter a log name')
						$("#logname").focus()
						return false
					}
					else if ($.trim($("#pwd").val()) == "") {
						alert('Enter a password.')
						$("#pwd").focus()
						return false
					}
					else {
						$("#logname").val($("#logname").val().replace(/(^\s*)|(\s*$)/g, ''))
						$("#pwd").val($("#pwd").val().replace(/(^\s*)|(\s*$)/g, ''))
						return true
					}
				})

				$("td.tab").on('click', function() {
					var the_tab = $(this)
					$("td.tab").each(function() {
						$(this).css('color', '#efefef').css('background', '#048').css('border-left', 'solid #efefef 1px').css('border-right', 'solid #efefef 1px').css('border-bottom', 'solid #408 1px')
					})
					the_tab.css('color', '#000').css('background', '#efefef').css('border-left', 'solid #048 1px').css('border-top', 'solid #048 1px').css('border-right', 'solid #048 1px').css('border-bottom', 'solid #efefef 1px')

				})
			})
		</script>
	</body>
</html>
