extends layout
block content
	//-a(href='/' id="spindleLogo") SPINDLE
	if token
		p Thank you. Click Spindle above to access again.
	else if token == 'expired'
		p(style="color:red") It is too long for waiting. For securaty reason, please click Spindle above and login again.
	else
		p(style="color:red") It looks like Logout was not used last time. Click Spindle above to access login.
	script(type="text/javascript" src='/javascripts/logoutView.js')
