body {
  top padding: 10px;
  margin-left: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#toplinks {
  position: absolute; top: 20px; left: 200px;
}
a {
  color: #00B7FF;
}
a:hover {
  color: #996600;
}
a.this {
  text-decoration:none;
}
#spindleLogo {
  font-size:32px;
  text-decoration:none;
}

table{
  border: 0px;
}

#g_dPair {
  position:;
}

tr.odd{
  background-color: lightgrey
}

td.title{
  background-color: lightblue;
  font: 125%;
  text-align: center;
  width: 200px;
}
