extends layout
block content
	#pwdwin
		#closepoint(style="text-align:right")
			a(href="javascript:void(0)" id="closelink" title="Close") X
		span(style="font-size:125%;padding-top:15px; text-align:center; display: block") Change Password
		#wincontent(style="text-align:center;padding-top:15px")
		span#winalert(style="color:red; font-size:16px; text-align:center; display:block;padding-top:15px")
	script(type="text/javascript" src="/javascripts/changepwd.js")
	#summarydataboard
		table
			tr
				td
					ul
						li Total number of diseases with ORDO ID : #{data[0]}
						li Total number of diseases with OMIM ID : #{data[1]}
				td(width="30px") &nbsp;
				td
					dl
						dd Search ORDO disease data:
						dd
							select(name="idType" id="idType")
								option(value="FullName+Synonym") Key Word in Name/Synonym
								option(value="ORDOID") ORDO ID
								option(value="OMIMID") OMIM ID
							span &nbsp;
							input(type="text" name="idValue" id="idValue")
							span &nbsp;
							input(id="searchbutton" type="button" value="Enter")
		#reporttitle(style="font-size:125%; bottom:0px; padding-left:10px")
		//-#maincontent
	table#databoard(cellpadding="0" cellspacing="1" border="0")
	script(type="text/javascript" src="/javascripts/diseasesView.js")
