doctype html
html
	head
		title Spindle
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
	body
		#head
			a(href='/' id="spindleLogo") SPINDLE
			#toplinks
				a(href='/Curators' id="curators_link") Curators
				span &nbsp;&nbsp;
				a(href='/Genes' id="genes_link") Genes
				span &nbsp;&nbsp;
				a(href='/Diseases' id="diseases_link") Diseases
				span &nbsp;&nbsp;
				a(href='/Curations' style="color:grey" id="curations_link") Curations
				span(style="padding-left:300px") &nbsp;&nbsp;
				a(href="javascript:void(0)" id="changepwd" title="Click") Password
				span &nbsp;&nbsp;
				a(href='/Logout' id="logout_link") Logout
		block content
		#foot
			span Copy right, Date, ....
