div(style='width:390px;height:488px;margin:5px 4px 5px 4px;border:solid #bbb 1px')
						span#pmid_from_NCBI(style="floar:left;font-size:12px;color:#ff0;padding-left:5px")
						div(style="float:right;padding:5px 5px 0px 0px")
							a#pmidboxclose(style="text-decoration:none;cursor:pointer;font-size:16px;font-weight:bold;color:#ff0") X
						br
						div(style="padding: 0 10px 0 10px;color:#eee;font-size:13px")
							br
							dt Title:
							dd#titlebox
							br
							dt Journal:
							dd#journalbox
							br
							span Date:&nbsp;&nbsp;
							span#datebox
							br
							br
							span(style="width:90px") First Author:&nbsp;&nbsp;
							span#authorbox
							br
							br
							span Abstract:
							#abstractbox(style="width:350px;height:212px;overflow:auto;margin:10px 5px 5px 5px;padding:5px 5px 5px 5px")
